.card{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 8px;
}

.cardContent{
    padding: 16px 16px 0px 16px;
}

.todoList{
    height: 165px;
    overflow-y: auto;
}